{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="#">
        <i class="bx bx-home-circle mr-2"></i>Dashboard
    </a>
</li>



{#DASHBOARD#}
{#<li class="nav-item">#}
{#    <a class="nav-link dropdown-toggle arrow-none" href="#">#}
{#        <i class="fa fa-child mr-2"></i>Parental Control#}
{#    </a>#}
{#</li>#}


{# ------------------------------------------------------------------------------------------------------------------ #}