{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:dashboard' %}">
        <i class="bx bx-home-circle mr-2"></i>Dashboard
    </a>
</li>



<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="/admin/">
        <i class="fa fa-shield-virus mr-2"></i>Root Access
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}