{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}
    {{ object.name }}
{% endblock %}


{#{% block no_container %}#}
{#    px-4#}
{#{% endblock %}#}



{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="card-title mb-0">
                        {{ object }}
                    </p>
                </div>
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <div>
                                <h1 class=""><i class="fa fa-clipboard-list"></i></h1>
                                <h6 class="mb-0">Course</h6>
                                <a href="#"><b>View</b><small>( {{ course_count }} )</small></a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h1 class=""><i class="fa fa-book"></i></h1>
                                <h6 class="mb-0">Assignments</h6>
                                <a href="{% url 'instructor:assigment-list' object.pk %}"><b>View</b><small>( {{ assignments_count }} )</small></a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h1 class=""><i class="fa fa-clock"></i></h1>
                                <h6 class="mb-0">Quizzes</h6>
                                <a href="#"><b>View</b><small>( {{ quizzes_count }} )</small></a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <h1 class=""><i class="fa fa-poll"></i></h1>
                                <h6 class="mb-0">Polls</h6>
                                <a href="#"><b>View</b><small>( {{ polls_count }} )</small></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {# LEFT #}
        <div class="col-9">

            {# NEW FEED INPUT #}
            <div>
                <textarea id="add-content" class="form-control form-control-lg"
                          placeholder="Have something in mind"></textarea>
            </div>

            {# NEWS FEED LIST #}
            <div id="content" class="mt-4">

                {% for foo in '12'|make_list %}
                    <div class="mb-3 p-3 rounded" style="border: 1px solid lightgray">
                        <a href="#" class="text-secondary">

                            <div class="d-flex flex-row">
                                <div class="p-2">
                                    <h1 class="mb-0 text-success"><i class="fa fa-clipboard"></i></h1>
                                </div>
                                <div class="p-2">
                                    <h5 class="mb-0"><b>Ikram Khan </b> has posted an assignment <b>How to Run
                                        Programs</b></h5>
                                    <small>24th January, 2022</small>
                                </div>
                            </div>

                        </a>
                    </div>
                {% endfor %}

                <div class="mb-3 p-3 rounded" style="border: 1px solid lightgray">
                    <a href="#" class="text-secondary">

                        <div class="d-flex flex-row">
                            <div class="p-2">
                                <h1 class="mb-0 text-success"><i class="fa fa-poll"></i></h1>
                            </div>
                            <div class="p-2">
                                <h5 class="mb-0"><b>Ikram Khan </b> has posted an Poll <b>who is Best?</b>
                                </h5>
                                <small>24th January, 2022</small>
                            </div>
                        </div>

                    </a>
                </div>

                <div class="mb-3 p-3 rounded" style="border: 1px solid lightgray">
                    <a href="#" class="text-secondary">

                        <div class="d-flex flex-row">
                            <div class="p-2">
                                <h1 class="mb-0 text-success"><i class="fa fa-clock fa fa-spin"></i></h1>
                            </div>
                            <div class="p-2">
                                <h5 class="mb-0"><b>Ikram Khan </b> has posted an Quiz <b>Solve the Following.</b>
                                </h5>
                                <small>24th January, 2022</small>
                            </div>
                        </div>

                    </a>
                </div>

            </div>
        </div>

        {# RIGHT #}
        <div class="col-3">

            {# JOIN #}
            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="mb-0 card-title"><b>How to Join</b></p>
                </div>
                <div class="card-body">
                    <p class="text-secondary">
                        Provide this code to your students and ask them to join.
                    </p>
                    <p class="card-title">Join Code</p>
                    <div class="form-row">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" value="{{ object.code }}"
                                       disabled>
                                <div class="input-group-append">
                                    <a class="btn btn-lg btn-light"><i class="fa fa-copy"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary mt-3" href="{% url 'instructor:course-code-change' object.pk %}"><i
                            class="fa fa-plus"></i> Generate New</a>
                    <a class="btn btn-light mt-3"><i class="fa fa-share"></i> Share</a>
                </div>
            </div>

            {# ENROLLED #}
            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="mb-0 card-title"><b>Enrolled Students</b></p>
                </div>
                <div class="card-body">
                    {% for student in students %}
                        {% if student.profile_image %}
                            <img class="rounded-circle header-profile-user" src="{{ student.profile_image.url }}"
                                 data-toggle="tooltip" data-placement="top"
                                 title="" data-original-title="{{ student }}">
                        {% else %}
                            <img class="rounded-circle header-profile-user" src="{% static 'core/images/no-user.png' %}"
                                 data-toggle="tooltip" data-placement="top"
                                 title="" data-original-title="{{ student }}">
                        {% endif %}
                    {% endfor %}
                    <br><br>
                    <a href="{% url 'instructor:enroll-list' object.pk %}"><b>View All</b></a> |
                    <a href="#" class="btn btn-sm btn-primary"><b>Add New</b></a>

                </div>
            </div>

            {# ASSIGNMENTS #}
            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="mb-0 card-title"><b>Upcoming Events</b></p>
                </div>
                <div class="card-body">
                    {% for foo in '1234'|make_list %}
                        <div class="mb-2">
                            <p class="mb-0"><a href="#">{% lorem 5 w %}</a></p>
                            <small class="text-muted">12th, January, 2022</small>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {# ASSIGNMENTS #}
            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="mb-0 card-title text-danger"><b>Security</b></p>
                </div>
                <div class="card-body">


                    <p class="text-danger">This course will be permanently delete</p>
                    <a href="{% url 'instructor:course-delete' object.pk %}"
                       type="submit" class="btn btn-danger">
                        <b><i class="fa fa-trash"></i> Delete</b>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

