{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}
    {{ object.name }}
{% endblock %}


{#{% block no_container %}#}
{#    px-4#}
{#{% endblock %}#}



{% block content %}

    <div class="row">

        {# NEW FEED #}
        <div class="col-2">

            <div class="card p-0">
                <div class="card-header p-0">
                    <div class="product-img position-relative">
                        <img src="{% static "portals/images/classimage.jpg" %}" alt=""
                             class="img-fluid mx-auto d-block">
                    </div>
                </div>
                <div class="card-body">

                    <div class=" text-center">
                        <h5 class="mb-1 text-truncate">
                            <a href="#" class="text-dark"><b>Class Name</b></a>
                        </h5>
                        <div class="mt-2 text-left">
                            <div>
                                <label class="small text-muted">Class Code</label>
                                <input class="form-control form-control-sm" type="text" disabled value="XYSD23">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer border-top bg-white">
                    <div class="row text-center">
                        <div class="col">
                            <h4>
                                <a href="#"><i class="fa fa-book"></i></a>
                            </h4>
                        </div>
                        <div class="col">
                            <h4>
                                <a href="#"><i class="fa fa-list"></i></a>
                            </h4>
                        </div>
                        <div class="col">
                            <h4>
                                <a href="#"><i class="fa fa-clock"></i></a>
                            </h4>
                        </div>
                        <div class="col">
                            <h4>
                                <a href="#"><i class="fa fa-chart-line"></i></a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="mb-0 card-title"><b>Upcoming</b></p>
                </div>
                <div class="card-body">
                    {% for foo in '1234'|make_list %}
                        <div class="mb-2">
                            <p class="mb-0"><a href="#">{% lorem 5 w %}</a></p>
                            <small class="text-muted">12th, January, 2022</small>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        {# NEW FEED #}
        <div class="col-8">

            {# NEW FEED INPUT #}
            <div>
                <textarea id="add-content" class="form-control form-control-lg"
                          placeholder="Have something in mind"></textarea>
            </div>

            {# NEWS FEED #}
            <div id="content" class="mt-4">

            </div>
        </div>

        {# USERS #}
        <div class="col-2">
            <div class="card">
                <div class="card-header bg-white border-bottom">
                    <p class="mb-0 card-title"><b>Enrolled</b></p>
                </div>
                <div class="card-body">
                    {#                    {% for foo in '1234'|make_list %}#}
                    {#                        <p class="mb-0"><img class="rounded-circle header-profile-user"#}
                    {#                                         src="{% static 'core/images/no-user.png' %}"> Full Name</p>#}
                    {#                    {% endfor %}#}
                    {% for foo in '1234'|make_list %}
                        <img class="rounded-circle header-profile-user"
                             src="{% static 'core/images/no-user.png' %}">
                    {% endfor %}

                </div>
                <div class="btn ">

                </div>
            </div>
        </div>
    </div>

{% endblock %}

